body { background: #4644e8; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 41px; display: flex; }
.block-helper-0 { color: #f618a2; font-size: 14px; margin-bottom: 5px; }
.block-notify-1 { color: #bf6231; font-size: 17px; margin-bottom: 5px; }
.block-auth-2 { color: #564eb7; font-size: 12px; margin-bottom: 5px; }
.block-sms-3 { color: #d2ad67; font-size: 12px; margin-bottom: 5px; }
.block-helper-4 { color: #a10a99; font-size: 18px; margin-bottom: 5px; }
.block-validator-5 { color: #b5459e; font-size: 20px; margin-bottom: 5px; }
.block-cluster-6 { color: #44d0f7; font-size: 18px; margin-bottom: 5px; }
.block-invoice-7 { color: #db3153; font-size: 17px; margin-bottom: 5px; }
.block-shipping-8 { color: #441980; font-size: 20px; margin-bottom: 5px; }
.block-router-9 { color: #94b532; font-size: 15px; margin-bottom: 5px; }
.block-helper-10 { color: #46e91b; font-size: 21px; margin-bottom: 5px; }